
/* ---------- TABS */
 
/* hide close button */
.tabbrowser-tab .tab-close-button{
  display:none;
} 


/* ---------- Custom StatusPanel */

#statuspanel-label {
  color: #ffff00 !important;
  font-size: 1.2em !important;
}


/* ---------- FAVs BAR */

/* min height */
#PlacesToolbar menuitem, #PlacesToolbar menu {
  appearance: none !important;
  min-height: 18px !important;
  padding: 2px !important;
}
/* hide 'Открыть всё во вкладках' */
menupopup menuitem.openintabs-menuitem,
menupopup menuseparator.bookmarks-actions-menuseparator {
  display: none;
} 
/* max width */
menupopup {
    max-width: 250px !important;
}


/* ---------- CONTEXT MENU */

/* "Delete Bookmark", "Delete Folder" items style */
#placesContext_deleteBookmark, #placesContext_deleteFolder {
  color: #ff6666 !important;  
} 

/* "Set Image as Desktop Background..." item style */
#context-setDesktopBackground {
  font-weight: bold !important;
}

/* "Копировать ссылку" item style */
#context-copylink {
  color: #4d94ff !important;
  font-weight: bold !important;
}


/* Menu */

#appMenu-popup{
  transition-duration: 0.01s !important;
}