/* Custom StatusPanel */

#statuspanel #statuspanel-label {
	appearance: none !important;
	background-color: #1E1D2D !important;
	font-family: "Fira Sans" !important;
	font-size: 14px !important;
	color: #ffff00 !important;
	border: 2px solid #1E1D2D !important;
	border-radius: 2px !important;
	text-align: center !important;
	transition: color linear 0.5s !important;
}

/* ---------- TABS ---------- */

/* corner shape */
.tab-background {
  border-radius: var(--user-tab-rounding) var(--user-tab-rounding) 0px 0px !important;  
  margin-block: 1px 0 !important;
}
/* Color loaded */
.tabbrowser-tab:not([busy],[bursting]) .tab-content {
  border-block-start: 3px solid #f2f2f2;
}
/* Color unloaded */
.tabbrowser-tab[pending]:not(:hover) > .tab-stack > .tab-content {
  /* font-style: italic; */
  border-block-start-color: gray;
}
/* Color on hover */
.tabbrowser-tab:hover .tab-content {
  border-block-start-color: yellow;
}
/* Color selected */
.tabbrowser-tab[selected] > .tab-stack > .tab-content {
  border-block-start-color: #ff9900;
}
/* hide close button */
.tabbrowser-tab .tab-close-button{
  display:none;
} 

/* ---------- FAVs BAR ---------- */

/* min height */
#PlacesToolbar menuitem, #PlacesToolbar menu {
  appearance: none !important;
  min-height: 18px !important;
  padding: 2px !important;
}
/* hide 'Открыть всё во вкладках' */
menupopup menuitem.openintabs-menuitem,
menupopup menuseparator.bookmarks-actions-menuseparator {
  display: none;
} 

/* ---------- CONTEXT MENU ---------- */

/* "Delete Bookmark", "Delete Folder" items style */
#placesContext_deleteBookmark, #placesContext_deleteFolder {
  color: #990000 !important;  
} 

/* "Set Image as Desktop Background..." item style */
#context-setDesktopBackground {
  color: blue !important;
  font-weight: bold !important;
}

/* "Копировать ссылку" item style */
#context-copylink {
  font-weight: bold !important;
}